[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][3][Configuration]
PreloadWeight=84

[Containments][1][Configuration]
PreloadWeight=0

[Containments][4][Applets][5][Configuration]
PreloadWeight=42

[Containments][4][Applets][6][Configuration]
PreloadWeight=42

[Containments][4][Configuration]
PreloadWeight=42
